body {
    background: rgb(134, 134, 228);
    font: normal 15pt Arial;

}

section {
    background: white;
    padding: 15 px;
    border-radius: 10px;
    margin:auto;
    width: 500px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.329);

}

footer {
    color: white;
    text-align: center;
    font-style: italic;

}

header {
    color: white;
    text-align: center;
}

img {
    width: 200px;
    border-radius: 200px;
    height: 200px;
    padding: 5px;
}